langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
groq
faiss-cpu
sentence-transformers
pypdf
pymupdf
python-dotenv
streamlit
requests
beautifulsoup4
lxml
trafilatura
validators
